@keyframes slideUp {
  from {
    transform: translateY(200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideRight {
  from {
    transform: translatex(200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes rotateIcone {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes coeur {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes container {
  0% {
    transform: translateX(200);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  80%, 100% {
    opacity: 0.5;
    z-index: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 0;
    z-index: -1;
  }
}
@keyframes progressBar {
  0% {
    transform: scaleX(0);
    opacity: 1;
    filter: hue-rotate(0deg);
  }
  17% {
    transform: scaleX(0.18);
  }
  24% {
    transform: scaleX(0.4);
  }
  46% {
    transform: scaleX(0.81);
  }
  100% {
    transform: scaleX(1);
    filter: hue-rotate(360deg);
  }
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  background: #e7e8e8;
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: center;
  animation: container 5s forwards;
}
.container .progress-bar {
  width: 150px;
  height: 34px;
  position: absolute;
  top: 50%;
  background: #FF79DA;
  box-shadow: 0 0 50px #FF79DA, 0 0 100px #FF79DA, 0 0 150px #FF79DA, 0 0 200px #FF79DA, 0 0 250px #FF79DA;
  animation: progressBar 4s forwards;
}
.container .progress-bar__logo {
  position: absolute;
  top: 50%;
}
.container .progress-bar__logo .progress-barre__img {
  width: 182px;
  height: 35px;
}

header {
  display: flex;
  justify-content: center;
  padding: 15px;
  background-color: #e7e8e8;
}

span {
  padding-left: 15px;
}

.localisation {
  display: flex;
  justify-content: center;
  padding: 15px;
  background-color: #d5d8da;
  box-shadow: 0px -5px 5px -5px grey;
}
.localisation .localisation__ville {
  padding-left: 10px;
  font-weight: 200;
}

.description {
  text-align: center;
  padding: 15px;
  background-color: #fafafa;
}
.description p {
  color: grey;
}
.description button {
  border-radius: 30px;
  border: none;
  box-shadow: 1px 2px 5px grey;
  font-weight: 600;
  padding: 15px;
  color: white;
  background: linear-gradient(#9356DC, #FF79DA);
}
@media all and (min-width: 588px) {
  .description button {
    width: 200px;
  }
}

.fonctionnement {
  padding: 15px;
}
.fonctionnement ol {
  counter-reset: numerotation;
}
.fonctionnement ol li {
  list-style: none;
  display: flex;
  justify-content: center;
  position: relative;
  border-radius: 30px;
  border: none;
  box-shadow: 1px 2px 5px grey;
  font-weight: 600;
  padding: 20px;
  margin: 0px 0px 20px 0px;
  text-decoration: none;
  color: black;
  background-color: #fafafa;
  font-size: 12px;
  cursor: pointer;
}
.fonctionnement ol li::before {
  counter-increment: numerotation;
  content: counter(numerotation);
  background-color: #9356DC;
  color: white;
  width: 8px;
  height: 12px;
  line-height: 12px;
  border-radius: 15px;
  padding: 8px;
  text-align: center;
  position: absolute;
  top: 21px;
  left: -12px;
}
.fonctionnement ol li .fas {
  color: grey;
  font-size: 19px;
}
.fonctionnement ol li:hover {
  background-color: RGBA(147, 86, 220, 0.08);
}
@media all and (min-width: 588px) {
  .fonctionnement ol {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.restaurants {
  background-color: #fafafa;
  padding: 15px;
}
.restaurants a {
  text-decoration: none;
  color: black;
  position: relative;
}
.restaurants a .etiquette {
  max-width: 62px;
  text-align: center;
  padding: 1px 20px 1px 20px;
  background-color: #99E2D0;
  color: #42a28c;
  position: absolute;
  right: -372px;
  z-index: 1;
}
.restaurants figure {
  width: 100%;
  margin: auto;
  position: relative;
  margin-bottom: 15px;
  border-radius: 20px;
  box-shadow: 1px 1px 8px #b8b2b2;
  overflow: hidden;
  transition: transform 0.9s;
}
.restaurants figure:hover {
  box-shadow: 1px 1px 5px black;
  transform: scale(1.1);
}
.restaurants figure img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.restaurants figure figcaption {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin: 0px 10px 0px 10px;
}
.restaurants figure figcaption .restaurants__legende {
  line-height: 4px;
}
.restaurants figure figcaption i {
  display: flex;
  align-items: center;
  font-size: 25px;
  cursor: pointer;
  transition: 1s;
  animation: coeur 0.3s;
}
.restaurants figure figcaption i:hover {
  font-weight: bold;
  color: #9356DC;
  transition: 1s;
}
.restaurants .btn {
  display: block;
  margin: auto;
}
@media all and (min-width: 588px) {
  .restaurants .restaurants__presentation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .restaurants figure {
    width: 240px;
    height: auto;
    margin-right: 20px;
    font-size: 13px;
  }
}

footer {
  background-color: #3E3C3C;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 15px;
  font-family: "Roboto", sans-serif;
}
footer h3 {
  font-family: "Shrikhand", cursive;
  font-weight: 100;
}
footer a {
  text-decoration: none;
  color: white;
  margin: 0px 0px 10px 0px;
}
footer a:hover {
  text-decoration: underline;
}
footer .footer__items {
  display: flex;
  flex-direction: column;
}
@media all and (min-width: 588px) {
  footer {
    display: block;
    text-align: center;
  }
  footer h3 {
    font-size: 28px;
  }
  footer a {
    padding: 10px;
  }
  footer .footer__items {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

header {
  display: flex;
  justify-content: center;
  padding: 15px;
}
header a {
  text-decoration: none;
  color: black;
}
header i {
  position: absolute;
  left: 30px;
}

.image-top {
  height: 220px;
}
.image-top img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

i {
  display: flex;
  align-items: center;
  font-size: 25px;
  cursor: pointer;
}

i:hover {
  font-weight: bold;
  color: #9356DC;
  transition: 1s;
  animation: coeur 0.3s;
}

.menu {
  background-color: #e7e8e8;
  width: 100%;
  position: relative;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding-bottom: 20px;
}
.menu .menu__titre {
  font-family: "Shrikhand", cursive;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu .menu__titre i {
  font-size: 25px;
}
.menu article {
  padding: 10px;
}
.menu article h2 {
  font-weight: 100;
  font-size: 20px;
}
.menu article .barreSoulignement {
  padding: 0;
  background-color: #99e2d0;
  height: 3px;
  width: 40px;
  border: none;
  margin: -10px 0px 0px 0px;
}
.menu .menu__items {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background-color: white;
  border-radius: 20px;
  padding-left: 10px;
  margin-top: 10px;
  cursor: pointer;
}
.menu .menu__items .blocicone {
  display: none;
}
.menu .menu__description {
  width: 87%;
}
.menu .menu__description h3 {
  margin: 10px 0px 10px 0px;
}
.menu .menu__description p {
  margin-bottom: 10px;
}
.menu .prix {
  display: inline-flex;
  align-items: flex-end;
  font-weight: bold;
  padding-right: 20px;
}
.menu .prix p {
  margin: 0;
  margin-bottom: 10px;
}

.item1 {
  animation: slideUp 1.25s;
}

.item2 {
  animation: slideUp 1.5s;
}

.item3 {
  animation: slideUp 2s;
}

.item4 {
  animation: slideUp 2.5s;
}

.item5 {
  animation: slideUp 3s;
}

.item6 {
  animation: slideUp 3.5s;
}

.item7 {
  animation: slideUp 4s;
}

.item8 {
  animation: slideUp 4.5s;
}

.item9 {
  animation: slideUp 5s;
}

.item10 {
  animation: slideUp 5.5s;
}

.menu__items:hover .blocicone {
  display: inline-flex;
  background-color: #99E2D0;
  padding: 31px 20px 31px;
  color: white;
  animation: slideRight 0.5s;
}
.menu__items:hover .icone {
  animation: rotateIcone 0.6s;
}

button {
  border-radius: 30px;
  border: none;
  box-shadow: 1px 2px 5px grey;
  font-weight: 600;
  padding: 15px;
  color: white;
  background: linear-gradient(#9356DC, #FF79DA);
  width: 40%;
  display: block;
  margin: 20px auto;
  cursor: pointer;
  transition: transform 0.9s;
}

button:hover {
  transform: scale(1.1);
}

@media all and (min-width: 588px) {
  .menu__plats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  article {
    min-width: 340px;
  }

  .menu__titre {
    display: flex;
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
