$couleurprimaire : #9356DC;
$couleursecondaire : #FF79DA;
$couleurtertiaire :#99E2D0 ;
$policetexte : 'Roboto', sans-serif;
$policelogo_titre : 'Shrikhand', cursive;



@mixin flex {
    display: flex;
    justify-content: center;
}


@mixin boutton{
    border-radius: 30px;
    border: none;
    box-shadow: 1px 2px 5px grey;
    font-weight: 600;
    padding: 15px;
    color: white;
    background: linear-gradient($couleurprimaire, $couleursecondaire);

    &:hover{
            transform: scale(1.1);
            box-shadow: 1px 2px 12px black;
    }
}

/*@keyframes btn{
    

    100%{
        background: linear-gradient(360deg, rgba(147, 86, 220,.7), rgba(255, 121, 218,0.7) 100%);
        color: white;
        opacity: 0.5;
    }
}*/

@keyframes slideUp{
    0%{
        transform: translateY(200px);
        opacity: 0;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
}



@keyframes rotateIcone{
    100%{transform: rotate(360deg);}
}

@keyframes coeur{
    0%{
       
        opacity: 0;
    }

    20%{
        color: $couleurprimaire;
        font-weight: bold;
        opacity: 0.2;
       
    }

    40%{
        color: $couleurprimaire;
        font-weight: bold;
        opacity: 0.4;
       
    }

    60%{
        color: $couleurprimaire;
        font-weight: bold;
        opacity: 0.6;
    }

    80%{
        color: $couleurprimaire;
        font-weight: bold;
        opacity: 0.8;
    }

    100%{
         color: $couleurprimaire;
         font-weight: bold;
        opacity: 1;
    }
}

@keyframes container{
    0%{
        opacity: 1;
    }

    50%{
        opacity: 1;
    }

    80%, 100%{
        opacity: 0.5;
        z-index: 1;
    }

    100%{
        opacity: 0;
        z-index: -1;
    }
}
@keyframes progressBar{
    0% {
        transform: scaleX(0);
        filter: hue-rotate(0deg);
    }
    17% {
        transform: scaleX(.18);
    }
    24% {
        transform: scaleX(.4);
    }
    46% {
        transform: scaleX(.81);
    }
   
    100% {
        transform: scaleX(1);
        filter: hue-rotate(360deg);
       
    }

}

