$breakpoints : (
    tablette2 : 588px
    );


@mixin tablette-only--boutton {
        @media all and (min-width : map-get($breakpoints, tablette2)){
            
                width: 200px;
            
        }
        
    }

@mixin tablette-only--fonctionnement {
    @media all and (min-width : map-get($breakpoints, tablette2)){
        
            display: flex;
            justify-content: space-around;
        
    }
    
}


@mixin tablette-only--figure {
    @media all and (min-width : map-get($breakpoints, tablette2)){
        .restaurants__presentation{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        figure{
            width: 240px;
            height: auto;
            margin-right: 20px;
            font-size: 13px;
        }
        
    }
    
}

@mixin tablette-only--footer {
    @media all and (min-width : map-get($breakpoints, tablette2)){

                display: block;
                text-align: center;

                h3{
                    font-size: 28px;
                }
                

                a{
                    padding: 10px;
                }

                .footer__items{

                    display: flex;
                    flex-direction: row;
                    justify-content: center;

                }
        
    }
}


@mixin tablette-only--menu {
    @media all and (min-width : map-get($breakpoints, tablette2)){
        
        .menu__plats{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        article{
            min-width: 340px;
        }

        .menu__titre{
            display: flex;
            
            justify-content: center;
        }
    }
}

