@mixin header {
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: #e7e8e8 ;
}

@mixin headermenu {
    display: flex;
    justify-content: center;
    padding: 15px;

    a{
        text-decoration: none;
        color: black;
    }

    i{
        position: absolute;
        left: 30px;
    } 
}
