
@mixin pagemenu {
    header{
        @include headermenu;
    }
    
    
    .image-top{
        height: 220px;
    
        img{
            width: 100%;
            height: 300px;
            object-fit: cover;
    
        }
    }

    .fleche{
        display: flex;
        align-items: center;
        font-size: 25px;
        cursor: pointer;
    }

    .icone_coeur:hover{
         animation:coeur 1s forwards ;
            transition: 1s;
        }

  
    
    .menu{ 
        background-color:  #e7e8e8;
        width: 100%;
        position: relative;
        border-top-left-radius: 30px ;
        border-top-right-radius: 30px ;
        padding-bottom: 20px;

    
        .menu__titre{
            font-family: $policelogo_titre;
            display: flex;
            justify-content: space-around;
            align-items: center;
    
            i{
                font-size: 25px;
            }
        }
    
        article{
            
            h2{
                font-weight: 100;
                font-size: 20px;}
    
                
            .barreSoulignement {
                    padding: 0;
                    background-color: #99e2d0;
                    height: 3px;
                    width: 40px;
                    border: none;
                    margin: -10px 0px 0px 0px;
                   
                }  
        }

        .menu__plats{
            padding :1rem;}
        
    
        .menu__items{
            display: flex;
            justify-content: space-between;
            overflow: hidden;
            background-color: white;
            border-radius: 20px;
            padding-left: 10px;
            margin-top: 10px;
            cursor: pointer;
            font-size: 13.9px;
            max-width: 100%; 

            .blocicone{
                display: none;
            }
 
            }
             

            .menu__description{
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                flex: 1;
                h3{
                    margin: 8px 0px 8px 0px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
                p{
                    margin-bottom: 10px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }


            }

            .prix{
                display: flex;
                align-items: flex-end;
                font-weight: bold;
                padding: 0px 5px 0px 20px;
                
                margin-bottom: 10px;

            }

            
        }

        .item1{
            animation: slideUp 1.25s;
        }
        .item2{
            animation: slideUp 1.50s;
        }
        .item3{
            animation: slideUp 2s;
        }
        .item4{
            animation: slideUp 2.50s;
        }
        .item5{
            animation: slideUp 3s;
        }
        .item6{
            animation: slideUp 3.50s;
        }
        .item7{
            animation: slideUp 4s;
        }
        .item8{
            animation: slideUp 4.50s;
        }
        .item9{
            animation: slideUp 5s;
        }
        .item10{
            animation: slideUp 5.50s;
        }
        

        .menu__items:hover{
           
            
            .blocicone{

                animation: slideright .5s;
                background-color: $couleurtertiaire;
                width: 4rem;
                align-items: center;
                justify-content: center;
                color: white;
                display: flex;

            } 
            .icone{
                animation:  rotateIcone .5s;
            }       
    }
    
    button{
        @include boutton;
        width: 40%;
        display: block;
        margin: 20px auto;
        cursor: pointer;
        transition: transform 0.9s;
        
    }

    
    
}